Repository IgniteUI/igniteui-angular-i18n, pull requests merged in 2021-02, with the labels that each got.

#51 Add French translation
  src/i18n/FR/calendar-resources.ts
  src/i18n/FR/carousel-resources.ts
  src/i18n/FR/date-range-picker-resources.ts
  src/i18n/FR/grid-resources.ts
  src/i18n/FR/list-resources.ts
  src/i18n/FR/paginator-resources.ts
  src/i18n/FR/resources.ts
  src/i18n/FR/time-picker-resources.ts
  src/index.ts
Labels: i18n: French

#55 Update Chinese to zh-Hant and zh-Hans - 10.2.x
  src/i18n/ZH-CN/carousel-resources.ts
  src/i18n/ZH-CN/date-range-picker-resources.ts
  src/i18n/ZH-CN/resources.ts
  src/i18n/ZH-CN/time-picker-resources.ts
  src/i18n/ZH-HANS/carousel-resources.ts
  src/i18n/ZH-HANS/date-range-picker-resources.ts
  src/i18n/ZH-HANS/grid-resources.ts
  src/i18n/ZH-HANS/list-resources.ts
  src/i18n/ZH-HANS/paginator-resources.ts
  src/i18n/ZH-HANS/resources.ts
  src/i18n/ZH-HANS/time-picker-resources.ts
  src/i18n/ZH-HANT/carousel-resources.ts
  src/i18n/ZH-HANT/date-range-picker-resources.ts
  src/i18n/ZH-HANT/grid-resources.ts
  src/i18n/ZH-HANT/list-resources.ts
  src/i18n/ZH-HANT/paginator-resources.ts
  src/i18n/ZH-HANT/resources.ts
  src/i18n/ZH-HANT/time-picker-resources.ts
  src/i18n/ZH-TW/carousel-resources.ts
  src/i18n/ZH-TW/date-range-picker-resources.ts
  src/i18n/ZH-TW/resources.ts
  src/i18n/ZH-TW/time-picker-resources.ts
  src/index.ts
Labels: i18n: Simplified Chinese, i18n: Traditional Chinese, status: awaiting-test

#54 Update Chinese to zh-Hant and zh-Hans
  src/i18n/ZH-CN/carousel-resources.ts
  src/i18n/ZH-CN/date-range-picker-resources.ts
  src/i18n/ZH-CN/resources.ts
  src/i18n/ZH-CN/time-picker-resources.ts
  src/i18n/ZH-HANS/carousel-resources.ts
  src/i18n/ZH-HANS/date-range-picker-resources.ts
  src/i18n/ZH-HANS/grid-resources.ts
  src/i18n/ZH-HANS/list-resources.ts
  src/i18n/ZH-HANS/paginator-resources.ts
  src/i18n/ZH-HANS/resources.ts
  src/i18n/ZH-HANS/time-picker-resources.ts
  src/i18n/ZH-HANT/carousel-resources.ts
  src/i18n/ZH-HANT/date-range-picker-resources.ts
  src/i18n/ZH-HANT/grid-resources.ts
  src/i18n/ZH-HANT/list-resources.ts
  src/i18n/ZH-HANT/paginator-resources.ts
  src/i18n/ZH-HANT/resources.ts
  src/i18n/ZH-HANT/time-picker-resources.ts
  src/i18n/ZH-TW/carousel-resources.ts
  src/i18n/ZH-TW/date-range-picker-resources.ts
  src/i18n/ZH-TW/resources.ts
  src/i18n/ZH-TW/time-picker-resources.ts
  src/index.ts
Labels: i18n: Simplified Chinese, i18n: Traditional Chinese, status: awaiting-test

#56 Updating Korean localization - 10.2.x
  src/i18n/KO/carousel-resources.ts
  src/i18n/KO/date-range-picker-resources.ts
  src/i18n/KO/grid-resources.ts
  src/i18n/KO/list-resources.ts
  src/i18n/KO/paginator-resources.ts
  src/i18n/KO/time-picker-resources.ts
Labels: status: awaiting-test, status: localized

#57 Updating Korean localization - master
  src/i18n/KO/calendar-resources.ts
  src/i18n/KO/carousel-resources.ts
  src/i18n/KO/date-range-picker-resources.ts
  src/i18n/KO/grid-resources.ts
  src/i18n/KO/list-resources.ts
  src/i18n/KO/paginator-resources.ts
  src/i18n/KO/time-picker-resources.ts
Labels: status: awaiting-test, status: localized

#53 Add Italian and Chinese strings for the calendar component
  src/i18n/IT/calendar-resources.ts
  src/i18n/IT/resources.ts
  src/i18n/ZH-HANS/calendar-resources.ts
  src/i18n/ZH-HANS/resources.ts
  src/i18n/ZH-HANT/calendar-resources.ts
  src/i18n/ZH-HANT/resources.ts
  src/index.ts
Labels: i18n: Italian, i18n: Simplified Chinese, i18n: Traditional Chinese, status: awaiting-test

#58 Update to igniteui-angular@11.1.0-rc.0
  package-lock.json
  package.json
  src/i18n/DE/carousel-resources.ts
  src/i18n/DE/grid-resources.ts
  src/i18n/ES/carousel-resources.ts
  src/i18n/ES/grid-resources.ts
  src/i18n/FR/carousel-resources.ts
  src/i18n/FR/grid-resources.ts
  src/i18n/IT/carousel-resources.ts
  src/i18n/IT/grid-resources.ts
  src/i18n/JA/carousel-resources.ts
  src/i18n/JA/grid-resources.ts
  src/i18n/KO/carousel-resources.ts
  src/i18n/KO/grid-resources.ts
  src/i18n/ZH-HANS/carousel-resources.ts
  src/i18n/ZH-HANS/grid-resources.ts
  src/i18n/ZH-HANT/carousel-resources.ts
  src/i18n/ZH-HANT/grid-resources.ts
Labels: status: localized
