Repository IgniteUI/igniteui-angular-i18n, pull requests merged in 2021-01, with the labels that each got.

#46 Add German translation
  src/i18n/DE/calendar-resources.ts
  src/i18n/DE/carousel-resources.ts
  src/i18n/DE/date-range-picker-resources.ts
  src/i18n/DE/grid-resources.ts
  src/i18n/DE/list-resources.ts
  src/i18n/DE/paginator-resources.ts
  src/i18n/DE/resources.ts
  src/i18n/DE/time-picker-resources.ts
  src/index.ts
Labels: i18n: German

#48 Adding Calendar RS for localization
  src/i18n/DE/calendar-resources.ts
  src/i18n/ES/calendar-resources.ts
  src/i18n/ES/resources.ts
  src/i18n/JA/calendar-resources.ts
  src/i18n/JA/resources.ts
  src/i18n/KO/calendar-resources.ts
  src/i18n/KO/resources.ts
  src/index.ts
Labels: status: awaiting-test, status: localized

#49 Add structure for several new languages support - 10.2.x
  src/i18n/IT/carousel-resources.ts
  src/i18n/IT/date-range-picker-resources.ts
  src/i18n/IT/grid-resources.ts
  src/i18n/IT/list-resources.ts
  src/i18n/IT/paginator-resources.ts
  src/i18n/IT/resources.ts
  src/i18n/IT/time-picker-resources.ts
  src/i18n/ZH-CN/carousel-resources.ts
  src/i18n/ZH-CN/date-range-picker-resources.ts
  src/i18n/ZH-CN/grid-resources.ts
  src/i18n/ZH-CN/list-resources.ts
  src/i18n/ZH-CN/paginator-resources.ts
  src/i18n/ZH-CN/resources.ts
  src/i18n/ZH-CN/time-picker-resources.ts
  src/i18n/ZH-TW/carousel-resources.ts
  src/i18n/ZH-TW/date-range-picker-resources.ts
  src/i18n/ZH-TW/grid-resources.ts
  src/i18n/ZH-TW/list-resources.ts
  src/i18n/ZH-TW/paginator-resources.ts
  src/i18n/ZH-TW/resources.ts
  src/i18n/ZH-TW/time-picker-resources.ts
  src/index.ts
Labels: i18n: Chinese (PRC), i18n: Chinese (Taiwan), i18n: Italian, status: localized, status: verified

#45 Add structure for several new languages support
  src/i18n/IT/carousel-resources.ts
  src/i18n/IT/date-range-picker-resources.ts
  src/i18n/IT/grid-resources.ts
  src/i18n/IT/list-resources.ts
  src/i18n/IT/paginator-resources.ts
  src/i18n/IT/resources.ts
  src/i18n/IT/time-picker-resources.ts
  src/i18n/ZH-CN/carousel-resources.ts
  src/i18n/ZH-CN/date-range-picker-resources.ts
  src/i18n/ZH-CN/grid-resources.ts
  src/i18n/ZH-CN/list-resources.ts
  src/i18n/ZH-CN/paginator-resources.ts
  src/i18n/ZH-CN/resources.ts
  src/i18n/ZH-CN/time-picker-resources.ts
  src/i18n/ZH-TW/carousel-resources.ts
  src/i18n/ZH-TW/date-range-picker-resources.ts
  src/i18n/ZH-TW/grid-resources.ts
  src/i18n/ZH-TW/list-resources.ts
  src/i18n/ZH-TW/paginator-resources.ts
  src/i18n/ZH-TW/resources.ts
  src/i18n/ZH-TW/time-picker-resources.ts
  src/index.ts
Labels: i18n: Chinese (PRC), i18n: Chinese (Taiwan), i18n: Italian, status: localized, status: verified
